@using YoutubeBlog.Entity.DTOs.Categories;
@model List<CategoryDto>



<div class="content">
    <ul>

        @foreach (var category in Model)
        {
            @*<li><a href="/Home/Search?Keyword=@category.Name.ToLower()">- @category.Name</a></li>*@
            <li><a asp-controller="Home" asp-action="Index" asp-route-categoryId="@category.Id">- @category.Name</a></li>
        }
    </ul>
</div>