@model List<ArticleDto>


@{
    ViewData["Title"] = "Home Page";
}
<h1>Default Area içerisindesiniz</h1>
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@foreach (var article in Model)
{
    <h1>@article.Title</h1> <br />
    <h3>@article.Content</h3>
    <h3>@article.CreatedBy</h3>
    <br />
    <br />
}