<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YoutubeBlog.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/YoutubeBlog.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/stand-blog/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/stand-blog/assets/css/templatemo-stand-blog.css">
    <link rel="stylesheet" href="~/stand-blog/assets/css/owl.css">
</head>
<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html"><h2>Stand Blog<em>.</em></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" style="flex-grow:0" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" target="_blank" href="index.html">
                                <i style="font-size:22px" class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">
                                <i style="font-size:22px;" class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="blog.html">
                                <i style="font-size:22px;" class="fa-brands fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
        @*<div class="container-fluid">
            <div class="owl-banner owl-carousel">
                <div class="item">
                    <img src="~/stand-blog/assets/images/banner-item-01.jpg" alt="">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>Fashion</span>
                            </div>
                            <a href="post-details.html"><h4>Morbi dapibus condimentum</h4></a>
                            <ul class="post-info">
                                <li><a href="#">Admin</a></li>
                                <li><a href="#">May 12, 2020</a></li>
                                <li><a href="#">12 Comments</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/stand-blog/assets/images/banner-item-02.jpg" alt="">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>Nature</span>
                            </div>
                            <a href="post-details.html"><h4>Donec porttitor augue at velit</h4></a>
                            <ul class="post-info">
                                <li><a href="#">Admin</a></li>
                                <li><a href="#">May 14, 2020</a></li>
                                <li><a href="#">24 Comments</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/stand-blog/assets/images/banner-item-03.jpg" alt="">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>Lifestyle</span>
                            </div>
                            <a href="post-details.html"><h4>Best HTML Templates on TemplateMo</h4></a>
                            <ul class="post-info">
                                <li><a href="#">Admin</a></li>
                                <li><a href="#">May 16, 2020</a></li>
                                <li><a href="#">36 Comments</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/stand-blog/assets/images/banner-item-04.jpg" alt="">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>Fashion</span>
                            </div>
                            <a href="post-details.html"><h4>Responsive and Mobile Ready Layouts</h4></a>
                            <ul class="post-info">
                                <li><a href="#">Admin</a></li>
                                <li><a href="#">May 18, 2020</a></li>
                                <li><a href="#">48 Comments</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/stand-blog/assets/images/banner-item-05.jpg" alt="">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>Nature</span>
                            </div>
                            <a href="post-details.html"><h4>Cras congue sed augue id ullamcorper</h4></a>
                            <ul class="post-info">
                                <li><a href="#">Admin</a></li>
                                <li><a href="#">May 24, 2020</a></li>
                                <li><a href="#">64 Comments</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/stand-blog/assets/images/banner-item-06.jpg" alt="">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>Lifestyle</span>
                            </div>
                            <a href="post-details.html"><h4>Suspendisse nec aliquet ligula</h4></a>
                            <ul class="post-info">
                                <li><a href="#">Admin</a></li>
                                <li><a href="#">May 26, 2020</a></li>
                                <li><a href="#">72 Comments</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
    <!-- Banner Ends Here -->


    <div style="height:150px;"></div>

    @RenderBody()


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="social-icons">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Behance</a></li>
                        <li><a href="#">Linkedin</a></li>
                        <li><a href="#">Dribbble</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <p>
                            Copyright 2020 Stand Blog Co.

                            | Design: <a rel="nofollow" href="https://templatemo.com" target="_parent">TemplateMo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/stand-blog/vendor/jquery/jquery.min.js"></script>
    <script src="~/stand-blog/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="~/stand-blog/assets/js/custom.js"></script>
    <script src="~/stand-blog/assets/js/owl.js"></script>
    <script src="~/stand-blog/assets/js/slick.js"></script>
    <script src="~/stand-blog/assets/js/isotope.js"></script>
    <script src="~/stand-blog/assets/js/accordions.js"></script>

    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
